* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  color: whitesmoke;
  background: linear-gradient(45deg, rgb(119, 54, 27), rgb(10, 10, 63));
  margin: 1rem 0 auto auto;
}

.index {
  margin: 0.5rem 3rem;
}

.index h3 {
  color: rgb(230, 138, 32);
  text-decoration: underline;
}

.index li {
  padding: 0.3rem;
}

article {
  border-top: 1px solid rgb(255, 66, 32);
  border-radius: 10px;
  text-align: left;
  padding: 1rem 2rem;
  margin: 0.5rem 1rem;
}

p {
  font-size: 18px;
  line-height: 28px;
}

i {
  color: rgb(255, 130, 72);
}

a,
a:visited {
  color: rgb(13, 219, 255);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(173, 255, 20);
  text-decoration: underline;
}

a:active {
  color: red;
  text-decoration: none;
}

ul {
  list-style: outside;
  margin: auto 1rem;
}

h1,
h2 {
  color: rgba(255, 38, 0, 1);
  text-shadow: 1px 1px 3px rgb(234, 0, 255);
  text-align: center;
  margin: 0.6rem 0.2rem;
}

h1 {
  font-size: 300%;
}

h2 {
  font-size: 200%;
}

h3 {
  color: rgb(255, 66, 32);
  font-weight: 800;
}

.goUp {
  background-color: rgb(20, 11, 44);
  border: 1px solid rgb(248, 5, 7);
  border-top-left-radius: 45%;
  border-top-right-radius: 45%;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  opacity: 0.5;
  transition: height 0.3s;
  cursor: pointer;
}

.goUp:hover {
  opacity: 1;
  height: 3rem;
}

a .goUp {
  text-decoration: none;
  color: rgb(248, 5, 7);
}

footer {
    background-color: rgb(20, 11, 44);
    height: 2rem;
    border-top: 1px solid rgb(248, 5, 7);
    display: flex;
    justify-content: center;
    color: whitesmoke;
}