* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: whitesmoke;
    background: linear-gradient(45deg, rgb(54, 20, 5), rgb(10, 10, 63));
    margin: 1rem 2rem;
    
}

article {
    border: 1px solid rgb(255, 66, 32);
    border-radius: 20px;
    text-align: left;
    padding: 1rem 2rem;
    margin: 0.5rem auto;
}

p {
    font-size: 18px;
    line-height: 28px;
}

i {
    color: rgb(255, 130, 72);
}

ul {
    list-style: outside;
    margin: auto 1rem;
}

h1, h2 {
    text-align: center;
    margin: .6rem .2rem;
}

h3 {
    color: rgb(255, 66, 32);
    font-weight: 800;
}